<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Celebrgraph</title>
    <link rel="stylesheet" href="{{serverDefs.baseURL}}/css/normalize.css">
    <link rel="stylesheet" href="{{serverDefs.baseURL}}/css/app.css">
    <link rel="icon" type="image/png" href="{{serverDefs.baseURL}}/images/favico.png">
</head>
<body>
    <div class="app-wrapper">
        <header class="app-header">
            <img src="{{serverDefs.baseURL}}/images/logo.png" alt="Logo">
            <h1>Welcome to Celebrgraph</h1>
            {{#if loggedIn}}
                <div class="header-link-wrapper">
                    <p class="welcome-message">Hello, {{user.firstName}}!</p>
                     <a class="link home-link" href="/">home</a> | <a class="link find-friend-link" href="/findfriends">find friends</a> | <a class="link logout-link" href="/logout">logout</a>
                </div>
            {{/if}}
        </header>
        {{#if loggedIn}}
            <section class="search-wrapper">
                <form class="search-form" action="search" method="post">
                    <input class="search-input" type="text" name="searchTerm" placeholder="Enter celeb name...">
                    <button class="search-button" type="submit">Search</button>
                </form>
            </section>
        {{/if}}
        <section class="app-body">
            {{{body}}}
        </section>
    </div>
</body>
</html>
