<form class="login-form" action="/user/add" method="POST">
    <div class="form-input-wrapper">
    <div class="form-input-wrapper">
        <label class="form-input-label" for="email">First Name:</label>
        <input id="firstName" name="firstName" class="form-input-text" type="text" />
    </div>
        <label class="form-input-label" for="email">Last Name:</label>
        <input id="lastName" name="lastName" class="form-input-text" type="text" />
    </div>
    <div class="form-input-wrapper">
        <label class="form-input-label" for="email">Email:</label>
        <input id="email" name="email" class="form-input-text" type="text" />
    </div>
    <div class="form-input-wrapper">
        <label class="form-input-label" for="password">Password:</label>
        <input id="password" name="password" class="form-input-text" type="password" />
    </div>
    <div class="form-input-wrapper">
        <button type="submit">Create User</button>
    </div>
</form>
