{{!-- first thing to note is that the feed is an array so we need to loop through each item --}}
{{!-- an unordered list is great for this type of data since it really is a list --}}
{{!-- we can use css to change the way it looks --}}
{{#if feed.length}} {{!-- it's a good idea to make sure the feed has items --}}
<ul class="feed">
  {{!-- the each helper loops over items in a list --}}
  {{!-- this line tells handlebars to loop over each item in the feed key passed into this templaate --}}
  {{#each feed}}
    <li class="feed-item"> {{!-- adding a class lets us style these elements --}}
    {{!-- inside iteration of the loop the current scope is each object, so in here you can access their properties directly --}}
    {{this}}
  </li>
  {{/each}}
</ul>
{{else}}
  <div class="no-friends-wrapper">
    <h2>Uh oh! Doesn't look like you have any friends yet!</h2>
    <p>Why don't you <a href="findfriends">find some friends</a></p>
  </div>
{{/if}}

