<ul class="users-list">
{{#unless users}}
    <h4>It doesn't look like we are very popular yet. We'd love it if you'd tell some people about us!</h4>
{{/unless}}
{{#if success}}
    <h4 class="success">Friend added successfully</h4>
{{/if}}
{{#if error}}
    <h4 class="error">We're sorry, there was an error adding that friend.</h4>
{{/if}}
{{#each users}}
    <li class="user">
        <span class="user-list-user">
            {{firstName}} {{lastName}}
        </span>
        <a class="add-user" href="addfriend/{{email}}">add</a>
    </li>
{{/each}}
</ul>
