{{#if loginError}}
    <div class="login-error">
        <h4>There was an error logging in.</h4>
    </div>
{{/if}}
<form class="login-form" action="/login" method="POST">
    <div class="form-input-wrapper">
        <label class="form-input-label" for="email">Email:</label>
        <input id="email" name="email" class="form-input-text" type="text" />
    </div>
    <div class="form-input-wrapper">
        <label class="form-input-label" for="password">Password:</label>
        <input id="password" name="password" class="form-input-text" type="password" />
    </div>
    <div class="create-account">
        No account? <a href="/user/add">Create one here!</a>
    </div>
    <div class="form-input-wrapper">
        <button type="submit" class="login-button">Login</button>
    </div>
</form>
