<div class="search-results-container">
  {{#if results.length}}
    <h2 class="search-header">Great news! We found a path between you and {{searchTerm}}!</h2>
    <ul class="search-results">
      {{#each results}}
        <li class="{{#if @last}}search-result-person-last{{else}}search-result-person{{/if}}">
          <span class="search-result-name">{{this}}</span>
        </li>
      {{/each}}
    </ul>
    {{!-- After cycling through the entire results list and there are no matches the below message will display. --}}
  {{else}}
    <div>
      <p>We're sorry, but we couldn't find any connection between you and {{searchTerm}}.  Plese try someone else!</p>
    </div>
  {{/if}}
</div>
