/* Base Stuff */
*{
   box-sizing: border-box;
}

html,body{
    height: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline
}

label{
    display: block;
    margin-bottom: 10px;
}

button{
    border: 0;
    background-color: #1f52ff;
    color: #fff;
    border-radius: 2px;
    padding: 10px 25px;
    cursor: pointer;
}

input{
    padding: 6px;
    margin-bottom: 20px;
    min-width: 250px;
}

ul{
   list-style:none;
   padding: 0;
}

.error{
   color: #ff0000;
}

.success{
   color: #058323;
}

.app-wrapper{
    height: 100%;
    width: 100%;
    min-width: 750px;
    background-color: #ededed;
}

.app-header{
    display: relative;
    width: 100%;
    padding: 20px;
    background-color: #1f52ff;
    color: #fff;
}

.app-header > h1{
    font-size: 3em;
    padding-left: 120px;
    position: relative;
}

.app-header > img{
    position: absolute;
    height: 90px;
    top: 25px;
}

.app-body{
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 1200px;
}

.create-account{
    margin-bottom: 20px;
}

.header-link-wrapper{
   position: absolute;
   right: 20px;
   top: 20px;
}

.search-button{
   height: 40px;
}

.link{
   color: white;
}

.feed{
  width: 550px;
  margin: 0 auto;
}

.feed-item{
   width: 100%;
   padding: 20px;
   background: #ffffff;
   margin: 10px;
}

.search-wrapper{
   width: 100%;
   padding: 10px 0;
   text-align: center;
   background-color: #cbcbcb;
   margin: 0;
}

.search-input{
   padding: 10px;
   margin: 0 10px 0 0;
   border-radius: 4px;
   border: 1px solid black;
   height: 40px;
}

.user, .add-user{
   font-size: 1.1em;
   padding: 10px;
}

.user{
   margin-right: 10px;

}
.add-user{
    color: #1f52ff;
}

.login-error > h4{
   color: #ff0000;
}

.user-list-user{
   width: 400px;
   text-overflow: ellipsis;
}

.welcome-message{
   margin: 0 0 10px 0;
}

.search-results-container{
  text-align: center;
}

.search-header{
    color: #1f52ff;
}

.search-result-person, .search-result-person-last{
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #e3e3e3;
  margin: 0 auto;
  padding: 15px;
  border: 10px solid #f8e71c;
  margin-bottom: 40px;
}

.search-result-person::after{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  background: #f8e71c;
  width: 10px;
  height: 50px;
  top: 110px;
  left: 50%;
  transform: translateX( -50% );
}

.search-result-name{
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY( -50% );
}

.login-form{
  width: 250px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.login-button{
  width: 250px;,
}
